:root {
  /*^ COLORS */
  --Black-color : #0a0a0a;
  --Black-color2 : #171717;
  --Text-color-White: #fafafa;
  --green-color: hsl(104.23, 90.27%, 68.34%);

  /*^ FONTS */
  --Alata-Font: 'Alata', sans-serif;
  --CrimsonText-Font: 'Crimson Text', serif;
  --Poppins-Font: 'Poppins', sans-serif;
}