.Project_Container {
  display: flex;
  flex-direction: column;
  border-radius: .8rem;
  background: linear-gradient(180deg, #141516 0%, #232327 100%);
  box-shadow: 0 8px 15px 0 #04152d;
  max-width: 420px;
  overflow: hidden;
  border: solid 2px #fafafa;
}

.Project_image {
  transition: .3s ease-in-out;
  height: 210px;
}

.Project_image:hover {
  transform: scale(1.1);
}

.Project_Container_Content {
  padding:  0 1rem .4rem 1rem;
} 

.Project_title {
  font-family: var(--Alata-Font);
  color: #FFFB73;  
  font-size: 1.7rem;
  letter-spacing: 1.10px;
  padding-block: .3rem;
}

.Project_description {
  font-size: 1rem;
  font-family: var(--Poppins-Font);
  padding-bottom: .6rem;
}

.Project_skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .4rem;
  list-style: none;
}

.Project_skill {
  font-size: 1.2rem;
  font-family: var(--Poppins-Font);
  border-radius: 100px;
  background-color: #fafafa;
  padding: 2px 1.2rem;
  color: #0F0C27;
}

.Project_links {
  width: 100%;
  padding-top: .8rem;
  display: flex;
  justify-content: center;
}

.Project_link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ffffff;
  margin-right: 1rem;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.Project_link:hover {
  color: var(--green-color);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .Project_Container {
    max-width: 500px;
  }
} 

@media screen and (max-width: 640px) {
  .Project_Container {
    max-width: 400px;
  }
  .Project_title {
    font-size: 1.6rem;
  }
  .Project_skill {
    font-size: 1rem;
  }
} 

@media screen and (max-width: 475px) {
  .Project_Container {
    max-width: 350px;
  }

  .Project_title {
    font-size: 1.5rem;
  }
  .Project_skill {
    font-size: .9rem;
  }
} 

@media screen and (max-width: 375px) {
  .Project_Container {
    max-width: 300px;
  }
  .Project_title {
    font-size: 1rem;
  }
  .Project_skill {
    font-size: .7rem;
  }
} 

@media screen and (max-width: 320px) {
  .Project_Container {
    max-width: 290px;
  }
  .Project_title {
    font-size: 1.3rem;
  }
  .Project_skill {
    font-size: .625rem;
  }
} 