:root {
  /*^ COLORS */
  --Black-color : #0a0a0a;
  --Black-color2 : #171717;
  --Text-color-White: #fafafa;
  --green-color: hsl(104.23, 90.27%, 68.34%);

  /*^ FONTS */
  --Alata-Font: 'Alata', sans-serif;
  --CrimsonText-Font: 'Crimson Text', serif;
  --Poppins-Font: 'Poppins', sans-serif;
}

.ProjectContainer {
  color: #ffffff;
  margin-bottom: 3rem;
  padding-top: 2.8rem;
}

.Projects_head {
  font-size: 2.5rem;
  letter-spacing: 1.75px;
  font-family: var(--Alata-Font);
  text-align: center;
  padding-bottom: 1rem;
  color: var(--Primary-color);
}

.Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}