.aboutContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem;
  min-height: 100vh;
  width: 86%;
  margin: auto;
}

.aboutContainer_image img {
  width: 500px;
  border-radius: 5rem;
  box-shadow: 0 0 20px var(--Seconday-color);
  filter: grayscale(25%);
}

.aboutContainer_getMeKnow {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  gap: 2rem;
}

.aboutContainer_getMeKnow h2{
  color: var(--Primary-color);
  font-family: var(--Alata-Font);
  font-size: 2.5rem;
  letter-spacing: 1.75px;
}

.aboutContainer_getMeKnow h4 {
  color: var(--third-color);
  font-family: var(--OutFit-Font);
  font-size: 1.5rem;
  letter-spacing: 1.75px;
}

.aboutContainer_getMeKnow .head_1,.head_2 {
  font-family: var(--OutFit-Font);
  color: var(--Seconday-color);
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.aboutContainer_getMeKnow .head_1 {
  padding-bottom:  1rem;
}

.education h2 {
  font-family: var(--OutFit-Font);
  font-size: 1.6rem;
  letter-spacing: 1.75px;
  color: var(--Seconday-color);
  padding-bottom: .3rem;
}

.education h4 {
  font-family: var(--OutFit-Font);
  font-size: 1.6rem;
  color: var(--third-color);
  padding-bottom: .2rem;
}

.education h5 {
  font-family: var(--OutFit-Font);
  font-size: 1rem;
  font-weight: 400;
  color: var(--Seconday-color);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}

.contacts a {
  text-decoration: none;
  font-family: var(--OutFit-Font);
  font-weight: bold;
  color: var(--Primary-color);
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.contacts i {
  padding-right: 1.5rem;
  color: var(--Seconday-color);
}

/*^ Media Queries */

@media screen and (max-width: 1280px) {
  .aboutContainer_image img {
    width: 450px;
  }

  .aboutContainer_getMeKnow {
    padding-top: 2rem;
  }
} 

@media screen and (max-width: 1024px) {
  .aboutContainer {
    flex-direction: column;
    padding-top: 1.8rem;
  }
} 

@media screen and (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    padding-top: 4rem;
  }

  .aboutContainer_image img {
    width: 400px;
  }
} 

@media screen and (max-width: 640px) {
  .aboutContainer {
    padding-top: 1.4rem;
  }

  .aboutContainer_image img {
    width: 365px;
  }
} 

@media screen and (max-width: 425px) {
  .aboutContainer {
    padding-top: .8rem;
  }
  .aboutContainer_image img {
    width: 320px;
  }

  .contacts a {
    font-size: 1.2rem;
  }
} 

@media screen and (max-width: 380px) {
  .aboutContainer_image img {
    width: 250px;
  }

  .contacts a {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
  } 
} 