.ContactContainer h2 {
  font-size: 2.5rem;
  color: var(--Primary-color);
  font-family: var(--Alata-Font);
  text-align: center;
  letter-spacing: 1.50px;
  padding-bottom: 1.1rem;
}

.ContactContainer h3 {
  font-size: 1.2rem;
  margin: auto;
  border-radius: .3rem;
  font-family: var(--Poppins-Font);
  letter-spacing: 2.5px;
  color: #FFFB73;
}

/*^ Form */
form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 450px;
  font-size: 1.1rem;
  border: solid 3px var(--Seconday-color);
  padding: 1rem 1rem 1.6rem 1rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
  background-color: var(--form-bgcolor);
}

input {
  width: 100%;
  padding: 1rem 1rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--Seconday-color);
}

input:focus {
  border: 4px solid rgba(0, 206, 158, 1);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--Seconday-color);
  margin-bottom: 1.5rem;
}

textarea:focus {
  border: 4px solid rgba(0, 206, 158, 1);
}

label {
  margin-top: 1rem;
  color: #fafafa;
  font-family: var(--Poppins-Font);
}

input[type="submit"] {
  margin-top: .8rem;
  cursor: pointer;
  background: dodgerblue;
  color: white;
  border: none;
  width: 100%;
  font-size: 1.3rem;
  transition: .2s ease-out;
}

.sub_btn:active {
  background: rgb(12, 91, 170);
}


@media screen and (max-width: 640px) {
  form {
    max-width: 420px;
  }
} 

@media screen and (max-width: 475px) {
  form {
    max-width: 360px;
  }
} 

@media screen and (max-width: 375px) {
  form {
    max-width: 310px;
  }
}

@media screen and (max-width: 320px) {
  form {
    max-width: 300px;
  }
} 