.ExperienceContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 3.1rem;
  padding-bottom: 1.5rem;
}

.title {
  font-family: var(--Poppins-Font);
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1.75px;
  color: var(--Primary-color);
  padding-bottom: 1rem;
}

.ExperienceData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  color: var(--Seconday-color);
  border: solid var(--Seconday-color) 2px;
  width: 60%;
  padding-block: 1.5rem;
  border-radius: 50px;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.011),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.016),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.02),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.024),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.029),
  100px 100px 80px rgba(0, 0, 0, 0.04);
  transition: all .3s ease-in-out
}

.ExperienceData h2,h6,h5 {
  font-family: var(--Poppins-Font);
}

.ExperienceData h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--third-color);
}

.ExperienceData h6 {
  font-size: 1rem;
  text-align: center;
  width: 90%;
}

.ExperienceData h5 {
  font-size: 1.1rem;
}

span {
  color: var(--Primary-color);
}

@media screen and (max-width: 640px) {
  .ExperienceContainer {
    gap: 1.3rem;
    padding-bottom: 1rem;
  }
  .ExperienceData {
    padding-block: 1.1rem;
    gap: .7rem;
  }
  .ExperienceData i {
    font-size: 2rem;
  }
  .ExperienceData h2  {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 475px) {
  .ExperienceData {
    width: 88%;
  }

  .ExperienceData h2 {
    font-size: 1.2rem;
  }
  
  .ExperienceData h6 {
    font-size: .9rem;
  }
  
  .ExperienceData h5 {
    font-size: 1rem;
  }
}

