 @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

html,body {
  width: 100%;
}

 :root {
  --Alata-Font: 'Alata', sans-serif;
  --CrimsonText-Font: 'Crimson Text', serif;
  --Poppins-Font: 'Poppins', sans-serif;
  --OutFit-Font: 'Outfit', sans-serif;

    --gradient: linear-gradient(
      to bottom,
      hsl(102.91, 94.05%, 67.06%) 0%,
      hsl(103.08, 93.6%, 67.23%) 8.1%,
      hsl(103.53, 92.32%, 67.68%) 15.5%,
      hsl(104.23, 90.27%, 68.34%) 22.5%,
      hsl(105.13, 87.5%, 69.12%) 29%,
      hsl(106.2, 84.09%, 69.96%) 35.3%,
      hsl(107.41, 80.12%, 70.8%) 41.2%,
      hsl(108.76, 75.68%, 71.6%) 47.1%,
      hsl(110.25, 70.94%, 72.33%) 52.9%,
      hsl(111.85, 66.06%, 72.99%) 58.8%,
      hsl(113.56, 61.25%, 73.56%) 64.7%,
      hsl(115.32, 56.75%, 74.03%) 71%,
      hsl(117.03, 52.8%, 74.4%) 77.5%,
      hsl(118.53, 49.67%, 74.67%) 84.5%,
      hsl(119.6, 47.61%, 74.84%) 91.9%,
      hsl(120, 46.88%, 74.9%) 100%
      );

      --body-background: #ffffff;
      --Seconday-color: #0F0C27;
      --Black-color : #0a0a0a;
      --Black-color2 : #171717;
      --green-color: hsl(104.23, 90.27%, 68.34%);
}

[data-theme="dark"] {
  --body-background: #0f172a;
  --Seconday-color: #fafafa;
  --Black-color : #0a0a0a;
  --Black-color2 : #171717;
}
