 @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

html,body {
  width: 100%;
}

 :root {
  --Alata-Font: 'Alata', sans-serif;
  --CrimsonText-Font: 'Crimson Text', serif;
  --Poppins-Font: 'Poppins', sans-serif;
  --OutFit-Font: 'Outfit', sans-serif;

    --gradient-mode:
      linear-gradient(
        to bottom,
        hsl(330, 98.29%, 45.88%) 0%,
        hsl(330.06, 98.3%, 45.8%) 8.1%,
        hsl(330.23, 98.32%, 45.58%) 15.5%,
        hsl(330.51, 98.36%, 45.23%) 22.5%,
        hsl(330.88, 98.41%, 44.78%) 29%,
        hsl(331.33, 98.47%, 44.24%) 35.3%,
        hsl(331.88, 98.55%, 43.64%) 41.2%,
        hsl(332.49, 98.65%, 42.99%) 47.1%,
        hsl(333.18, 98.76%, 42.32%) 52.9%,
        hsl(333.9, 98.88%, 41.65%) 58.8%,
        hsl(334.66, 99.03%, 41%) 64.7%,
        hsl(335.39, 99.19%, 40.39%) 71%,
        hsl(336.07, 99.37%, 39.87%) 77.5%,
        hsl(336.62, 99.56%, 39.45%) 84.5%,
        hsl(336.98, 99.77%, 39.15%) 91.9%,
        hsl(337.09, 100%, 39.02%) 100%
      );

      --body-background: #ffffff;
      --Primary-color: #001B79;
      --Seconday-color: #0F0C27;
      --third-color: #DF2E38;
      --btn-color: #ffffff;
      --skills-color: #ffffff;
      --green-color: hsl(104.23, 90.27%, 68.34%);
      --form-bgcolor: #0f172a;
      --Black-color : #0a0a0a;
      --Black-color2 : #171717;
}

[data-theme="dark"] {
  --body-background: #0f172a;
  --Primary-color: hsl(104.23, 90.27%, 68.34%);
  --Seconday-color: #fafafa;
  --third-color: #FFFB73;
  --btn-color: #0F0C27;
  --green-color: hsl(104.23, 90.27%, 68.34%);
  --form-bgcolor: #0f172a;
  --Black-color : #0a0a0a;
  --Black-color2 : #171717;
  
  --gradient-mode: linear-gradient(
      to bottom,
      hsl(102.91, 94.05%, 67.06%) 0%,
      hsl(103.08, 93.6%, 67.23%) 8.1%,
      hsl(103.53, 92.32%, 67.68%) 15.5%,
      hsl(104.23, 90.27%, 68.34%) 22.5%,
      hsl(105.13, 87.5%, 69.12%) 29%,
      hsl(106.2, 84.09%, 69.96%) 35.3%,
      hsl(107.41, 80.12%, 70.8%) 41.2%,
      hsl(108.76, 75.68%, 71.6%) 47.1%,
      hsl(110.25, 70.94%, 72.33%) 52.9%,
      hsl(111.85, 66.06%, 72.99%) 58.8%,
      hsl(113.56, 61.25%, 73.56%) 64.7%,
      hsl(115.32, 56.75%, 74.03%) 71%,
      hsl(117.03, 52.8%, 74.4%) 77.5%,
      hsl(118.53, 49.67%, 74.67%) 84.5%,
      hsl(119.6, 47.61%, 74.84%) 91.9%,
      hsl(120, 46.88%, 74.9%) 100%
      );
}
